@import "highlight";

code {
  font-family: "Menlo", "Consolas", "Monaco", "Liberation Mono",
      "Lucida Console", "monospace";
  line-height: 1.5;
}

pre {
  white-space: pre;

  code {
    margin-bottom: 1rem;
  }
}
