@import "prevnext";
@import "headernav";
@import "code";

body {
  background-color: floralwhite;
  font-family: "Iowan Old Style", "Apple Garamond", "Baskerville",
    "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", "serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#container {
  max-width: 800px;
  padding: 1rem;
  margin: 0px auto;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p,
ol,
ul,
blockquote {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

blockquote {
  margin-left: 1rem;
  margin-right: 1rem;
}

blockquote p {
  text-align:left;
}

@media (max-width: 500px) {
  p,
  ol,
  ul,
  blockquote {
    text-align: left;
  }
}

p:not(:last-child),
ol:not(:last-child),
ul:not(:last-child),
blockquote:not(:last-child),
div.highlight:not(:last-child) {
  margin-bottom: 1rem;
}

footer {
  font-size: 0.8rem;
  margin-top: 1rem;
  opacity: 50%;
}

a {
  color: royalblue;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  background-color: aliceblue;
}

li {
  margin-left: 1.5rem;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: lower-roman;
}

time {
  opacity: 25%;
}

.single-content {
  margin-bottom: 2rem;
}

ul.single-post-tags li {
  display: inline-block;
  margin: 0;
}

ul.single-post-tags li::before {
  content: "#";
  opacity: 50%;
}

ul.single-post-tags li:not(:last-child)::after {
  content: ", ";
}
