{{ define "main" }}
<h1>Hi.</h1>
<p>
  Thanks for visiting my blog. You can also find me on 
  <a href="https://www.instagram.com/biesnecker/">Instagram</a> sometimes, 
  and <a href="https://www.linkedin.com/in/biesnecker/">LinkedIn</a> 
  even less.
</p>

<h3>Recently</h3>

<ul>
  {{- range ( where site.RegularPages "Section" "posts" | first 10 ) }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>. {{ safeHTML .Summary }}
    <time>{{ .PublishDate.Format "2 Jan 2006"}}</time>.
  </li>
  {{ end }}
</ul>
{{ end }}
