{{ define "main" }}
<h1>Hi.</h1>
<p>
  My name is John. I'm a 40-ish software engineering manager living with my
  wife, kids, and dog in Orlando, FL, where I work for <s>the FAANG
  you hate the most</s> a fintech company that many people rather like. 
  I enjoy long walks, swinging kettlebells, generative art, and the
  occassional glass of whiskey. I am far too emotionally invested in 
  sports. I'm on <https://twitter.com/biesnecker>Twitter</a> and 
  <a href="https://www.instagram.com/biesnecker/">Instagram</a> mostly, and 
  you can check out my
  <a href="https://www.linkedin.com/in/biesnecker/">LinkedIn</a> if you're 
  into that sort of thing.
</p>

<h3>Recently</h3>

<ul>
  {{- range ( where site.RegularPages "Section" "posts" | first 10 ) }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>. {{ safeHTML .Summary }}
    <time>{{ .PublishDate.Format "2 Jan 2006"}}</time>.
  </li>
  {{ end }}
</ul>
{{ end }}
