{{ define "main" }}
<h1>Hi.</h1>
<p>
  My name is John. I'm a 40-ish software engineering manager living with my
  wife, kids, and dog in the San Francisco Bay Area, where I work for the FAANG
  you hate the most. I enjoy long walks, swinging kettlebells, and the
  occassional glass of whiskey. I am far too emotionally invested in sports. I
  have a
  <a href="/resume">résumé</a>, am somewhat active on
  <a href="https://twitter.com/biesnecker">Twitter</a>, and check my
  <a href="mailto:jbiesnecker@gmail.com">email</a>
  sometimes.
</p>

<h3>Recently</h3>

<ul>
  {{- range ( where site.RegularPages "Section" "posts" | first 10 ) }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>. {{ safeHTML .Summary }}
    <time>{{ .PublishDate.Format "2 Jan 2006"}}</time>.
  </li>
  {{ end }}
</ul>
{{ end }}
